# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [46]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [31]:
# load in the csv to a dataframe 
weather_df = pd.read_csv("Data/weather_data.csv")
del weather_df["Unnamed: 0"]
weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Zhangaözen,43.30,52.80,302.35,36,87,4.95,KZ,1595432626
1,Pozo Colorado,-23.49,-58.80,305.82,26,100,5.63,PY,1595432626
2,Siverek,37.76,39.32,309.15,18,0,3.10,TR,1595432626
3,Clyde River,70.47,-68.59,280.15,100,90,2.10,CA,1595432626
4,Kulhudhuffushi,6.62,73.07,301.09,79,99,6.96,MV,1595432627
...,...,...,...,...,...,...,...,...,...
573,Aldan,58.60,125.39,284.23,85,5,1.93,RU,1595432691
574,Bushehr,28.97,50.84,309.15,63,40,8.20,IR,1595432501
575,Diego de Almagro,-26.37,-70.05,288.55,41,47,2.14,CL,1595432691
576,Trivandrum,8.48,76.92,302.15,79,40,0.16,IN,1595432691
577,Taltal,-25.40,-70.48,288.50,62,28,2.02,CL,1595432691

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [32]:
# access maps with api_key 
gmaps.configure(api_key=g_key)

In [4]:
# store lat and lng into locations
locations = weather_df[["Lat", "Lng"]]
# store humidity into variable
city_humidity = weather_df["Humidity"]

# create the humidity heatmap 
humid_fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=city_humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 3)
humid_fig.add_layer(heat_layer)

humid_fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# shorten dataframe to more managable length 
specify_temp= weather_df.loc[(weather_df["Max Temp"] <= 300) & (
    weather_df["Max Temp"] > 280), :]
specify_wind = specify_temp.loc[(specify_temp["Wind Speed"] <5)]
specify_cloud = specify_wind.loc[(specify_wind["Cloudiness"]== 0)]
specify_cloud.reset_index()

,index,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,18,Provideniya,64.38,-173.30,283.06,70,0,1.75,RU,1595432350
1,27,Kang,-23.68,22.79,289.29,29,0,2.14,BW,1595432630
2,51,Karratha,-20.74,116.85,294.09,64,0,2.30,AU,1595432633
3,52,Grootfontein,-19.57,18.12,292.61,24,0,3.50,NaN,1595432633
4,61,Cape Town,-33.93,18.42,290.93,77,0,4.60,ZA,1595432383
5,63,Port Alfred,-33.59,26.89,290.24,84,0,0.90,ZA,1595432538
6,99,Hermanus,-34.42,19.23,288.71,86,0,0.89,ZA,1595432578
7,100,Hermanus,-34.42,19.23,288.71,86,0,0.89,ZA,1595432578
8,103,Carnarvon,-24.87,113.63,291.15,100,0,4.10,AU,1595432558
9,151,East London,-33.02,27.91,293.15,77,0,4.10,ZA,1595432346
10,179,Vryburg,-26.96,24.73,284.42,36,0,2.49,ZA,1595432649
11,191,Bredasdorp,-34.53,20.04,289.15,82,0,3.10,ZA,1595432650
12,194,Swellendam,-34.02,20.44,289.15,82,0,3.10,ZA,1595432650
13,230,Zeerust,-25.54,26.08,294.15,9,0,1.50,ZA,1595432654
14,231,Cruzília,-21.84,-44.81,296.71,42,0,1.74,BR,1595432654
15,249,Pervomayskiy,53.25,40.29,292.04,79,0,4.85,RU,1595432656
16,265,Shache,38.42,77.24,297.65,18,0,1.36,CN,1595432657
17,268,Lüderitz,-26.65,15.16,296.15,49,0,2.10,NaN,1595432658
18,274,Kruisfontein,-34.00,24.73,286.71,85,0,1.95,ZA,1595432580
19,276,Richards Bay,-28.78,32.04,291.57,70,0,4.27,ZA,1595432540
20,284,Saldanha,-33.01,17.94,291.15,63,0,3.60,ZA,1595432659
21,309,Gari,59.43,62.35,291.99,66,0,1.40,RU,1595432662
22,312,Shakawe,-18.37,21.85,294.18,23,0,2.43,BW,1595432662
23,322,Aksarka,66.56,67.80,286.57,66,0,3.44,RU,1595432663
24,328,Villaviciosa,43.48,-5.44,298.15,63,0,2.14,ES,1595432664
25,385,Port Hedland,-20.32,118.57,290.15,59,0,3.10,AU,1595432606
26,386,Henties Bay,-22.12,14.28,295.93,54,0,0.89,NaN,1595432670
27,394,Upington,-28.45,21.26,297.15,12,0,1.00,ZA,1595432671
28,412,Yulara,-25.24,130.99,282.15,57,0,3.10,AU,1595432672
29,416,Shaunavon,49.65,-108.42,298.00,46,0,4.55,CA,1595432673
30,422,Maamba,-17.37,27.15,291.24,44,0,1.45,ZM,1595432673
31,463,Maltahöhe,-24.83,16.98,292.90,23,0,3.94,NaN,1595432678
32,466,Sesheke,-17.48,24.30,297.15,22,0,2.60,ZM,1595432678
33,479,Benguela,-12.58,13.41,297.89,60,0,3.39,AO,1595432680
34,486,Eucaliptus,-17.58,-67.52,287.10,31,0,3.12,BO,1595432680
35,487,Usinsk,65.99,57.53,296.65,56,0,2.13,RU,1595432680
36,496,Beipiao,41.79,120.78,294.38,61,0,1.33,CN,1595432681
37,531,Kaeo,-35.10,173.78,283.15,3,0,1.34,NZ,1595432686
38,544,Batagay-Alyta,67.80,130.41,288.07,67,0,1.09,RU,1595432687

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [26]:
#hotel_df = hotel_df.insert(9,"Hotel Name", "")
new_locations = hotel_df[["Lat", "Lng"]]
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
18,Provideniya,64.38,-173.30,283.06,70,0,1.75,RU,1595432350,
27,Kang,-23.68,22.79,289.29,29,0,2.14,BW,1595432630,
51,Karratha,-20.74,116.85,294.09,64,0,2.30,AU,1595432633,
52,Grootfontein,-19.57,18.12,292.61,24,0,3.50,NaN,1595432633,
61,Cape Town,-33.93,18.42,290.93,77,0,4.60,ZA,1595432383,
63,Port Alfred,-33.59,26.89,290.24,84,0,0.90,ZA,1595432538,
99,Hermanus,-34.42,19.23,288.71,86,0,0.89,ZA,1595432578,
100,Hermanus,-34.42,19.23,288.71,86,0,0.89,ZA,1595432578,
103,Carnarvon,-24.87,113.63,291.15,100,0,4.10,AU,1595432558,
151,East London,-33.02,27.91,293.15,77,0,4.10,ZA,1595432346,
179,Vryburg,-26.96,24.73,284.42,36,0,2.49,ZA,1595432649,
191,Bredasdorp,-34.53,20.04,289.15,82,0,3.10,ZA,1595432650,
194,Swellendam,-34.02,20.44,289.15,82,0,3.10,ZA,1595432650,
230,Zeerust,-25.54,26.08,294.15,9,0,1.50,ZA,1595432654,
231,Cruzília,-21.84,-44.81,296.71,42,0,1.74,BR,1595432654,
249,Pervomayskiy,53.25,40.29,292.04,79,0,4.85,RU,1595432656,
265,Shache,38.42,77.24,297.65,18,0,1.36,CN,1595432657,
268,Lüderitz,-26.65,15.16,296.15,49,0,2.10,NaN,1595432658,
274,Kruisfontein,-34.00,24.73,286.71,85,0,1.95,ZA,1595432580,
276,Richards Bay,-28.78,32.04,291.57,70,0,4.27,ZA,1595432540,
284,Saldanha,-33.01,17.94,291.15,63,0,3.60,ZA,1595432659,
309,Gari,59.43,62.35,291.99,66,0,1.40,RU,1595432662,
312,Shakawe,-18.37,21.85,294.18,23,0,2.43,BW,1595432662,
322,Aksarka,66.56,67.80,286.57,66,0,3.44,RU,1595432663,
328,Villaviciosa,43.48,-5.44,298.15,63,0,2.14,ES,1595432664,
385,Port Hedland,-20.32,118.57,290.15,59,0,3.10,AU,1595432606,
386,Henties Bay,-22.12,14.28,295.93,54,0,0.89,NaN,1595432670,
394,Upington,-28.45,21.26,297.15,12,0,1.00,ZA,1595432671,
412,Yulara,-25.24,130.99,282.15,57,0,3.10,AU,1595432672,
416,Shaunavon,49.65,-108.42,298.00,46,0,4.55,CA,1595432673,
422,Maamba,-17.37,27.15,291.24,44,0,1.45,ZM,1595432673,
463,Maltahöhe,-24.83,16.98,292.90,23,0,3.94,NaN,1595432678,
466,Sesheke,-17.48,24.30,297.15,22,0,2.60,ZM,1595432678,
479,Benguela,-12.58,13.41,297.89,60,0,3.39,AO,1595432680,
486,Eucaliptus,-17.58,-67.52,287.10,31,0,3.12,BO,1595432680,
487,Usinsk,65.99,57.53,296.65,56,0,2.13,RU,1595432680,
496,Beipiao,41.79,120.78,294.38,61,0,1.33,CN,1595432681,
531,Kaeo,-35.10,173.78,283.15,3,0,1.34,NZ,1595432686,
544,Batagay-Alyta,67.80,130.41,288.07,67,0,1.09,RU,1595432687,

In [52]:
# search for hotel within 5000 meters 
hotel_search = "Hotel"
hotel_radius = 5000
hotel_type = "lodging"

start = 0
for index, row in hotel_df.iterrows():
    # set up parameters
    params = {
        "location": locations,
        "keyword": hotel_search,
        "radius": hotel_radius,
        "type": hotel_type,
        "key": g_key
    }

    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # perform a request with new parameters 
    response = requests.get(base_url, params=params)
    response_json = response.json()
    results = response_json['results']
    if len(results) > 0:
        name = response_json['results'][0]['name']
        hotel_df.iloc[start, 9] = name
    start = start + 1

In [53]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [54]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
humid_fig.add_layer(marker_layer)

# Display Map
humid_fig

Figure(layout=FigureLayout(height='420px'))